/* @import "tailwindcss"; */
/* @import 'flowbite'; */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

@media (max-width: 1300px) {
  .listpesertadidik {
      grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media (max-width: 1000px) {
  .listpesertadidik {
      grid-template-columns: 1fr !important;
  }
}

@media (min-width: 1140px) {
  .grid-cols-custom {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}