/* @import "tailwindcss"; */
/* @import 'flowbite'; */
body {
  overflow-y: hidden;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

@media (max-width: 1300px) {
  .listpesertadidik {
      grid-template-columns: repeat(2, 1fr) !important;
      overflow-y: auto;
  }
}

@media (max-width: 1000px) {
  .listpesertadidik {
      grid-template-columns: 1fr !important;
  }
}

@media (min-width: 1140px) {
  .grid-cols-custom {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@keyframes blink {
  0%, 100% { opacity: 1 }
  50% { opacity: 0 }
}
.animate-blink {
  animation: blink 1s steps(1) infinite;
}

@keyframes blink-cursor {
  0%, 100% { opacity: 0.7; }
  50% { opacity: 0.15; }
}
.animate-blink-cursor {
  animation: blink-cursor 1.2s steps(1) infinite;
}

